@use "./partials/variables" as *;
@use "./partials/mixins" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-background-color;
    color: $primary-txt-color;
}

.card-box {
    background-color: black;
    border: 1px solid black;
    @include cardHeightWidth;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.5s;

    &:hover {
        transform: rotateY(180deg);

        img:first-child,
        span.no-poster {
            display: none;
        }

        .text-card {
            display: block;
            transform: rotateY(-180deg);
        }
    }

    .no-poster {
        display: flex;
        align-items: center;
        justify-content: center;
        @include cardHeightWidth;

        &:hover {
            display: none;

            .text-card {
                display: block;
            }
        }
    }

    img {
        @include cardHeightWidth;
    }

    .text-card {
        padding: 10px;
        display: none;

        .section-txt {
            margin-bottom: 7px;

            img.flag {
                width: 25px;
                height: 15px;
            }

        }

    }
}